@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Grand+Hotel&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --maintransition: all 0.4s ease-in-out;
    --white: white;
    --black: #3a3e3b;
    --green: #698f3f;
    --grey: #e5e5e5;
    --letter-spacing: 1rem;
    --slanted-text: 'Grand hotel', cursive;
    --orange:#fca311;
    }
body{
    font-family:"Cataraman", sans-serif;
    line-height: 1.5;
}
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(images/main-bcg.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: var(--letter-spacing);
    
}
.banner-subtitle{
    font-size: 2rem;
    font-family: var(--slanted-text);
    color: var(--green);
    animation: right 3s ease-in-out 1;
    word-spacing: 0.9rem;
}
.banner-title{
    font-size: 1.9rem;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 2.5rem;
    line-height: 1.3;
    animation: left 3s ease-in-out 1;
}
a{
    text-decoration: none;
    color: var(--black);
    letter-spacing: 0rem;

}
.main-btn, .banner-btn{
    background: var(--green);
    display: inline-block;
    text-transform: uppercase;
    padding: 0.8rem 1.2rem;
    font-weight: bolder;
    outline: 0.2rem solid var(--green);
    outline-offset: 4px;
    width: fit-content;
    margin-top: 2rem;
    cursor: pointer;
    transition: var(--maintransition);
    animation: show 3s ease-in-out 1;
    
}
a:hover{
    color: var(--white);
    opacity: 0.7;
}
.main-btn:hover, .banner-btn:hover{
    opacity: 0.7;
}
@keyframes show{
    0%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes right{
    0%{
        transform: translateX(1000px);
    }
    50%{
        transform: translateX(-500px);
    }
    75%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes left{
    0%{
        transform: translateX(-700px);
    }
    50%{
        transform: translateX(200px);
    }
    75%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}
.content-divider{
    height: 0.5rem;
    background: linear-gradient( to left, var(--green), var(--orange),var(--green) );
}
.skills{
    background-color: var(--grey);
    
}
.skill{
    padding-top: 2.5rem;
    transition: var(--maintransition);
    text-align: center;
}
.skill-icon{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    transition: var(--maintransition);
    display: inline-block;
}
.skill-title{
    font-size: 0.9rem;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    word-spacing: 0.9rem;
    color: var(--green);
}
.skill-text{
    max-width: 13rem;
    margin: 0 auto;

}
.skill:hover{
    background: var(--green);
}
.skill:hover .skill-title{
    color: var(--white);
}
.skill:hover .skill-icon{
    transform: translateY(-5px);
}
@media screen and (min-width:576px) {
    .skill{
        float: left;
        width: 50%;
    }

}
@media screen and (min-width:1200px) {
    .skill {
        float: left;
        width: 25%;
    }
}
.clearfix::after, .clearfix::before{
    content:'';
    clear: both;
    display: table;
}
.section-center{
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1170px;
    width: 80vw;
}
.about-picture{
    width: 100%;
    display: block;
    transition: var(--maintransition);
    
    

}
.about-picture-container{
    border: 0.5rem solid var(--green);
    border-radius: 1rem;
    overflow: hidden;
    background: var(--green);
    width: fit-content;
}
.about-picture-container:hover .about-picture{
    opacity: 0.7;
    transform: scale(1.1);
}
.about-img, .about-info{
    padding: 2rem 0;
}
.section-subtitle{
    font-size: 2rem;
    color: var(--green);
    font-family: var(--slanted-text);
    text-transform: capitalize;
}
.section-title{
    font-size: 2rem;
    text-transform: uppercase;
}
.about-text{
    margin: 1rem 0;
    max-width: 26;
}
@media screen and (min-width:992px) {
    .about-img, .about-info{
        float: left;
        width: 50%;
        padding: 0 2rem;
    }
    
}
.products{
    background: var(--black);
}
.produts-info, .products-inventory{
    padding: 2rem 0;
}
.section-titleg{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
.products-text{
    max-width: 26rem;
}
.products-img{
    display: block;
    width: 100%;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}
.product{
    padding: 2rem 0;
}
.products-title{
    color: var(--white);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.products-price{
    color: var(--green);
    font-family: var(--slanted-text);
    letter-spacing: var(--letter-spacing);
}
@media screen and (min-width:768px) {
    .product{
        float: left;
        width: 50%;
        padding: 2rem 1rem;
    }
    .product-info{
        padding: 2rem 2rem;
    }
}
@media screen and (min-width:992px) {
    .product {
        width: 33.33%;
    }
}
@media screen and (min-width:1200px) {
    .products-info {
        float: left;
        width: 30%;
    }
    .products-inventory{
        width: 70%;
}
}
.contactp{
    padding-top: 3rem;
}
.contact-item{
    padding-bottom: 3rem;
}
.contact-title{
    font-family: var(--slanted-text);
    color: var(--green);
    font-size: 1.6rem;
}
.contact-text{
    text-transform: uppercase;
}
.form-unit{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--green);
    margin: 2rem 0;
    padding: 1.3rem 0;
    font-size: 0.85rem;
    font-weight: bold;
}
.form-unit::placeholder{
    text-transform: uppercase;
    color: var(--green);
    letter-spacing: var(--letter-spacing);
}
@media screen and (min-width:992px) {
    .contact-info, .contact-form{
        float: left;
        width: 50%;
        padding: 0 1rem;
    }
    .contact-info{
        padding-top: 4rem ;
    }
    
}
.tea{
    color: var(--green);
}
.footer{
    background: var(--black);
    text-align: center;
}
.fa-facebook, .fa-twitter, .fa-instagram{
    color: white;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
    color: var(--green);
}
.footer-text{
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-top: 1rem;
    letter-spacing: var(--letter-spacing);
}
.hh{
    color: var(--white);
}
.nav-btn{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: var(--green);
    margin: 1rem 1.4rem;
    font-size: 2rem;
    animation: bounce 2s ease-in-out infinite;
    cursor: pointer;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
/* nav bar */
    .navbar{
        position: fixed;
        z-index: 2;
        font-size: 2rem;
        background-color: var(--grey);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-left: 2rem;
        transform: translateX(-100%);
    }
    .showNav{
        transform: translateX(0);
    }
    .nav-close{
        cursor: pointer;
    }
    .nav-link{
        color: var(--green);
        display: block;
        
    }
    .nav-link:hover{
        padding-left: 1rem;
        transition: var(--maintransition);
        color: var(--black);
    }
    .nav-items li{
        list-style-type: none;
    }
    @media screen and (min-width:768px) {
        .navbar{
            width: 30vw;
            max-width: 20rem;
        }
    }